body {
    display: flex;
    flex-direction: column; /* Set the main axis to be vertical */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.box {
    text-align: center; /* Center content horizontally */
    border: 5px solid #333;
    color: #333;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    border: 2px solid #007bff;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #0056b3;
    color: #fff;
}
